[submodule "dracula-alacritty"]
	path = dracula-alacritty
	url = https://github.com/dracula/alacritty.git
[submodule "alacritty-theme"]
	path = alacritty-theme
	url = https://github.com/eendroroy/alacritty-theme.git
[submodule "kanagawa-alacritty"]
	path = kanagawa-alacritty
	url = https://github.com/rebelot/kanagawa.nvim
[submodule "tokyonight.nvim"]
	path = tokyonight.nvim
	url = git@github.com:folke/tokyonight.nvim.git
