[submodule "dracula-alacritty"]
	path = dracula-alacritty
	url = https://github.com/dracula/alacritty.git
[submodule "alacritty-theme"]
	path = alacritty-theme
	url = https://github.com/eendroroy/alacritty-theme.git
